[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-login = "*"
flask-sqlalchemy = "*"
sqlalchemy = "*"
flask-wtf = "*"
flask-cors = "*"
opencv-python = "*"
flask-mail = "*"

[dev-packages]

[requires]
python_version = "3.10"
