<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %} {% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    {% block contents %} {% endblock %} {% block flash_msg %} {% with messages =
    get_flashed_messages(with_categories=True) %} {% if messages %} {% for
    category,msg in messages %} {% if category == 'error' %}
    <article class="message is-danger" id="flash">
      <div class="message-header">
        <p>Oops...</p>
        <button
          class="delete"
          aria-label="delete"
          onclick="document.getElementById('flash').style.display = 'None';"
        ></button>
      </div>
      <div class="message-body">{{msg}}</div>
    </article>
    {% else %}
    <article class="message is-info" id="flash">
      <div class="message-header">
        <p>Success</p>
        <button
          class="delete"
          aria-label="delete"
          onclick="document.getElementById('flash').style.display = 'None';"
        ></button>
      </div>
      <div class="message-body">{{msg}}</div>
    </article>
    {% endif %} {% endfor %} {% endif %} {% endwith %}
    <style defer>
      #flash {
        position: fixed;
        right: 1px;
        bottom: 1px;
      }
    </style>
    {% endblock %}
  </body>
</html>
