{% extends "base.html" %}

{% block contents %}
<nav class="navbar is-light" role="navigation" aria-label="main navigation">
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-outlined is-rounded" href="{{ url_for('auth.logout') }}"> Logout </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
<br/>
<br/>
<div class="columns is-centered is-vcentered">
<h1 class="title">
Success
</h1>
</div>
  {% endblock %}