{% extends "base.html" %}

{% block contents %}
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        <a class="button is-light" href="{{ url_for('auth.login') }}"> Login </a>
        <a class="button is-info" href="{{ url_for('auth.signup') }}"> Signup </a>

      </div>
    </div>
  </div>
</div>
</nav>
    <form action="" method="post">
      <input type="text" name="uname" id="uname" placeholder="Type your username" required />
      <input type="text" name="email" id="email" placeholder="Type your email" required />
      <video id="webcam" autoplay playsinline width="640" height="480"></video>
      <canvas id="canvas" style="display: none" width="640" height="480"></canvas>
      <!-- <input type="file" name="file" id="file" accept="image/*" required /> -->

      <button type="submit" id="btnSubmit">Signup</button>
    </form>

    <script>
      const video = document.getElementById("webcam");
      const canvas = document.getElementById("canvas");
      const context = canvas.getContext("2d");

      if (navigator.mediaDevices.getUserMedia) {
        navigator.mediaDevices.getUserMedia({ video: true }).then((stream) => {
          video.srcObject = stream;
          video.play();
        });
      } else {
        alert("No Cameras Found!");
      }

      $("#btnSubmit").click(function (e) {
        e.preventDefault();

        var uname = $("#uname").val();
        var email = $("#email").val();
        var password = $("#password").val();
        context.drawImage(video, 0, 0,640,480);
        var blobData;
        canvas.toBlob((blob) => {
          blobData = blob;
          const fd = new FormData()
          fd.append('uname', uname)
          fd.append('email',email)
          fd.append('blob',blobData,'blob.png')
          $.ajax({
            url: "/signup/",
            type: "POST",
            data: fd,
            contentType: false,
            processData: false,
          });
        });
      });
    </script>

{% endblock %}